{
  "openapi": "3.1.1",
  "info": {
    "title": "Scalar Bakery",
    "description": "The Scalar Bakery is an example OpenAPI document to test OpenAPI tools and libraries. It's a fictional bakery platform with guilds, members, roles, and a lot of test data. Browse all [guilds](#tag/guilds/get/guilds) or invite a new baker with [invite links](#tag/invites/post/guilds/{guildId}/invites).\n\n## Resources\n\n* https://github.com/scalar/scalar\n* https://github.com/OAI/OpenAPI-Specification\n* https://scalar.com\n\n## Markdown Support\n\nAll descriptions *can* contain **Markdown**. You can even create [internal links to reference endpoints](#tag/authentication/post/auth/signup).\n\n<details>\n  <summary>Examples</summary>\n\n  **Blockquotes**\n\n  > I love OpenAPI. <3\n\n  **Tables**\n\n  | Feature          | Availability |\n  | ---------------- | ------------ |\n  | Markdown Support | \u2713            |\n\n  **Accordion**\n\n  ```html\n  <details>\n    <summary>Using Details Tags</summary>\n    <p>HTML Example</p>\n  </details>\n  ```\n\n  **Images**\n\n  Yes, there's support for images, too!\n\n  ![Empty placeholder image showing the width/height](https://images.placeholders.dev/?width=1280&height=720)\n\n  **Alerts**\n\n  > [!tip]\n  > You can now use markdown alerts in your descriptions.\n\n</details>\n",
    "version": "1.0.0",
    "contact": {
      "name": "Bakery Support",
      "url": "https://bakery.scalar.com",
      "email": "support@scalar.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/license/MIT"
    }
  },
  "externalDocs": {
    "description": "Documentation",
    "url": "https://github.com/scalar/scalar"
  },
  "servers": [
    {
      "url": "https://bakery.scalar.com/api",
      "description": "Production"
    },
    {
      "url": "{protocol}://sandbox.bakery.scalar.com/{path}",
      "description": "Sandbox echo server",
      "variables": {
        "protocol": {
          "enum": [
            "https",
            "http"
          ],
          "default": "https"
        },
        "path": {
          "default": ""
        }
      }
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "basicAuth": []
    },
    {
      "apiKeyQuery": []
    },
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyCookie": []
    },
    {
      "oAuth2": []
    },
    {
      "openIdConnect": []
    }
  ],
  "x-speakeasy-webhooks": {
    "security": {
      "type": "signature",
      "headerName": "x-signature",
      "signatureTextEncoding": "base64",
      "algorithm": "hmac-sha256"
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "Public and private endpoints to create accounts and authorize requests."
    },
    {
      "name": "Guilds",
      "description": "Bakery guilds are teams that own bakeries and recipes."
    },
    {
      "name": "Bakeries",
      "description": "Physical or virtual bakery locations."
    },
    {
      "name": "Members",
      "description": "Guild members and their profiles."
    },
    {
      "name": "Invites",
      "description": "Invite a baker to join a guild."
    },
    {
      "name": "Roles",
      "description": "Guild roles and permissions."
    },
    {
      "name": "Recipes",
      "description": "Recipes owned by guilds."
    }
  ],
  "paths": {
    "/guilds": {
      "get": {
        "tags": [
          "Guilds"
        ],
        "summary": "Get all guilds",
        "description": "Find every guild in the Bakery. Use filters to narrow down by status or size.",
        "operationId": "getGuilds",
        "security": [
          {}
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/guildStatus"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "X-Pagination-Total": {
                "$ref": "#/components/headers/X-Pagination-Total"
              },
              "X-Pagination-Page": {
                "$ref": "#/components/headers/X-Pagination-Page"
              },
              "X-Pagination-Per-Page": {
                "$ref": "#/components/headers/X-Pagination-Per-Page"
              },
              "X-Cache-Control": {
                "$ref": "#/components/headers/X-Cache-Control"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Guild"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/PaginatedResource"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Guilds"
        ],
        "summary": "Create a guild",
        "description": "Start a new bakery guild and claim your oven.",
        "operationId": "createGuild",
        "requestBody": {
          "description": "Guild",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Guild"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "Location": {
                "$ref": "#/components/headers/Location"
              },
              "X-Processing-Time": {
                "$ref": "#/components/headers/X-Processing-Time"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Guild"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/guilds/{guildId}": {
      "get": {
        "tags": [
          "Guilds"
        ],
        "summary": "Get a guild",
        "description": "Retrieve full guild details, including bakery locations and member counts.",
        "operationId": "getGuild",
        "security": [
          {}
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/guildId"
          }
        ],
        "responses": {
          "200": {
            "description": "Guild Found",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "Last-Modified": {
                "$ref": "#/components/headers/Last-Modified"
              },
              "X-Cache-Control": {
                "$ref": "#/components/headers/X-Cache-Control"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Guild"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Guilds"
        ],
        "summary": "Update a guild",
        "description": "Update a guild name, status, or metadata.",
        "operationId": "updateGuild",
        "requestBody": {
          "description": "New information about the guild",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Guild"
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/guildId"
          }
        ],
        "responses": {
          "200": {
            "description": "Guild updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Guild"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Guilds"
        ],
        "summary": "Delete a guild",
        "operationId": "deleteGuild",
        "description": "This endpoint was used to delete guilds. It is now deprecated and should not be used anymore.",
        "x-scalar-stability": "experimental",
        "parameters": [
          {
            "$ref": "#/components/parameters/guildId"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/guilds/{guildId}/logo": {
      "post": {
        "tags": [
          "Guilds"
        ],
        "summary": "Upload a guild logo",
        "description": "Upload a logo for a guild's bakery profile.",
        "operationId": "uploadGuildLogo",
        "parameters": [
          {
            "$ref": "#/components/parameters/guildId"
          }
        ],
        "requestBody": {
          "description": "Logo to upload",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "The logo image file to upload",
                    "examples": [
                      "@logo.png",
                      "@guild.jpg"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ImageUploaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/guilds/{guildId}/members": {
      "get": {
        "tags": [
          "Members"
        ],
        "summary": "List guild members",
        "parameters": [
          {
            "$ref": "#/components/parameters/guildId"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "List of members",
            "headers": {
              "X-Pagination-Total": {
                "$ref": "#/components/headers/X-Pagination-Total"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Member"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/guilds/{guildId}/invites": {
      "post": {
        "tags": [
          "Invites"
        ],
        "summary": "Create invite link",
        "parameters": [
          {
            "$ref": "#/components/parameters/guildId"
          }
        ],
        "responses": {
          "201": {
            "description": "Invite created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invite"
                }
              }
            }
          }
        }
      }
    },
    "/invites/{inviteCode}/join": {
      "post": {
        "tags": [
          "Invites"
        ],
        "summary": "Join guild via invite",
        "parameters": [
          {
            "$ref": "#/components/parameters/inviteCode"
          }
        ],
        "responses": {
          "200": {
            "description": "Joined guild"
          }
        }
      }
    },
    "/guilds/{guildId}/leave": {
      "post": {
        "tags": [
          "Invites"
        ],
        "summary": "Leave guild",
        "description": "You create a request for leaving, it has to be approved first. If this is not done in time, the request gets auto-approved.",
        "parameters": [
          {
            "$ref": "#/components/parameters/guildId"
          }
        ],
        "responses": {
          "200": {
            "description": "Left guild"
          }
        }
      }
    },
    "/guilds/{guildId}/roles": {
      "get": {
        "tags": [
          "Roles"
        ],
        "summary": "List roles in guild",
        "parameters": [
          {
            "$ref": "#/components/parameters/guildId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Role"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Roles"
        ],
        "summary": "Create role in guild",
        "parameters": [
          {
            "$ref": "#/components/parameters/guildId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Role"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Role created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          }
        }
      }
    },
    "/guilds/{guildId}/roles/{roleId}": {
      "put": {
        "tags": [
          "Roles"
        ],
        "summary": "Update role",
        "parameters": [
          {
            "$ref": "#/components/parameters/guildId"
          },
          {
            "$ref": "#/components/parameters/roleId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Role"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Role updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Roles"
        ],
        "summary": "Delete role",
        "parameters": [
          {
            "$ref": "#/components/parameters/guildId"
          },
          {
            "$ref": "#/components/parameters/roleId"
          }
        ],
        "responses": {
          "204": {
            "description": "Role deleted"
          }
        }
      }
    },
    "/bakeries": {
      "get": {
        "tags": [
          "Bakeries"
        ],
        "summary": "List bakeries",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "List of bakeries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Bakery"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Bakeries"
        ],
        "summary": "Create a bakery",
        "requestBody": {
          "description": "Bakery",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Bakery"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Bakery created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bakery"
                }
              }
            }
          }
        }
      }
    },
    "/bakeries/{bakeryId}": {
      "get": {
        "tags": [
          "Bakeries"
        ],
        "summary": "Get a bakery",
        "parameters": [
          {
            "$ref": "#/components/parameters/bakeryId"
          }
        ],
        "responses": {
          "200": {
            "description": "Bakery",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bakery"
                }
              }
            }
          }
        }
      }
    },
    "/recipes": {
      "get": {
        "tags": [
          "Recipes"
        ],
        "summary": "List recipes",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "List of recipes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Recipe"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/signup": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Create a user",
        "description": "Time to create a user account, eh?",
        "operationId": "createUser",
        "security": [
          {}
        ],
        "requestBody": {
          "description": "User to create",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User"
                  },
                  {
                    "$ref": "#/components/schemas/Credentials"
                  }
                ]
              },
              "examples": {
                "Marc": {
                  "value": {
                    "name": "Marc",
                    "email": "marc@scalar.com",
                    "password": "i-love-scalar"
                  }
                },
                "Cam": {
                  "value": {
                    "name": "Cam",
                    "email": "cam@scalar.com",
                    "password": "scalar-is-cool"
                  }
                },
                "Hans": {
                  "value": {
                    "name": "Hans",
                    "email": "hans@scalar.com",
                    "password": "5c4l4r"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User account created successfully",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "Location": {
                "$ref": "#/components/headers/Location"
              },
              "X-Processing-Time": {
                "$ref": "#/components/headers/X-Processing-Time"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/auth/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get a token",
        "description": "Get your super secret token and move on.",
        "operationId": "getToken",
        "security": [
          {}
        ],
        "requestBody": {
          "description": "Body for credentials to authenticate a user",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Credentials"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Token Created",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Token"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/me": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get authenticated user",
        "description": "Find yourself they say. That's what you can do here.",
        "operationId": "getMe",
        "security": [
          {
            "basicAuth": []
          },
          {
            "oAuth2": [
              "read:account"
            ]
          },
          {
            "bearerAuth": []
          },
          {
            "apiKeyHeader": []
          },
          {
            "apiKeyQuery": []
          }
        ],
        "responses": {
          "200": {
            "description": "Authenticated user information retrieved successfully",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "Last-Modified": {
                "$ref": "#/components/headers/Last-Modified"
              },
              "X-Cache-Control": {
                "$ref": "#/components/headers/X-Cache-Control"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    }
  },
  "webhooks": {
    "newGuild": {
      "post": {
        "tags": [
          "Guilds"
        ],
        "requestBody": {
          "description": "Information about a new guild",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Guild"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 200 status to indicate that the data was received successfully"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "JWT Bearer token authentication"
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic HTTP authentication"
      },
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key request header"
      },
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "API key query parameter"
      },
      "apiKeyCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "api_key",
        "description": "API key browser cookie"
      },
      "oAuth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authentication",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://bakery.scalar.com/oauth/authorize",
            "tokenUrl": "https://bakery.scalar.com/oauth/token",
            "scopes": {
              "read:account": "read your account information",
              "write:guilds": "modify guilds in your account",
              "read:guilds": "read your guilds",
              "write:recipes": "modify recipes",
              "read:recipes": "read your recipes"
            }
          },
          "clientCredentials": {
            "tokenUrl": "https://bakery.scalar.com/oauth/token",
            "scopes": {
              "read:account": "read your account information",
              "write:guilds": "modify guilds in your account",
              "read:guilds": "read your guilds",
              "write:recipes": "modify recipes",
              "read:recipes": "read your recipes"
            }
          },
          "implicit": {
            "authorizationUrl": "https://bakery.scalar.com/oauth/authorize",
            "scopes": {
              "read:account": "read your account information",
              "write:guilds": "modify guilds in your account",
              "read:guilds": "read your guilds",
              "write:recipes": "modify recipes",
              "read:recipes": "read your recipes"
            }
          },
          "password": {
            "tokenUrl": "https://bakery.scalar.com/oauth/token",
            "scopes": {
              "read:account": "read your account information",
              "write:guilds": "modify guilds in your account",
              "read:guilds": "read your guilds",
              "write:recipes": "modify recipes",
              "read:recipes": "read your recipes"
            }
          }
        }
      },
      "openIdConnect": {
        "type": "openIdConnect",
        "openIdConnectUrl": "https://bakery.scalar.com/.well-known/openid-configuration",
        "description": "OpenID Connect Authentication"
      }
    },
    "parameters": {
      "guildId": {
        "name": "guildId",
        "description": "The ID of the guild to get",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid",
          "examples": [
            "d252f9a6-5a2e-4b22-8e7b-b1f3f1c3a41d"
          ]
        }
      },
      "bakeryId": {
        "name": "bakeryId",
        "description": "The ID of the bakery to get",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid",
          "examples": [
            "1c4a6c21-4528-4f4b-a2a8-d3ea5f6a0a18"
          ]
        }
      },
      "roleId": {
        "name": "roleId",
        "description": "The ID of the role to get",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid",
          "examples": [
            "a4b34f0a-39f2-4b5f-9a90-2f1ab84a30c0"
          ]
        }
      },
      "inviteCode": {
        "name": "inviteCode",
        "description": "Invite code for joining a guild",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "examples": [
            "CROISSANT-8H5G"
          ]
        }
      },
      "limit": {
        "name": "limit",
        "description": "The number of items to return",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "format": "int64",
          "default": 10
        }
      },
      "offset": {
        "name": "offset",
        "description": "The number of items to skip before starting to collect the result set",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "format": "int64",
          "default": 0
        }
      },
      "guildStatus": {
        "name": "status",
        "description": "Filter guilds by status",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "active",
            "paused",
            "archived"
          ],
          "default": "active"
        }
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "The number of allowed requests in the current period",
        "schema": {
          "type": "integer",
          "example": 100
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of remaining requests in the current period",
        "schema": {
          "type": "integer",
          "example": 95
        }
      },
      "X-RateLimit-Reset": {
        "description": "The number of seconds left in the current period",
        "schema": {
          "type": "integer",
          "example": 3600
        }
      },
      "X-Request-ID": {
        "description": "Unique identifier for the request",
        "schema": {
          "type": "string",
          "format": "uuid",
          "example": "123e4567-e89b-12d3-a456-426614174000"
        }
      },
      "X-Pagination-Total": {
        "description": "Total number of items available",
        "schema": {
          "type": "integer",
          "example": 1000
        }
      },
      "X-Pagination-Page": {
        "description": "Current page number",
        "schema": {
          "type": "integer",
          "example": 1
        }
      },
      "X-Pagination-Per-Page": {
        "description": "Number of items per page",
        "schema": {
          "type": "integer",
          "example": 10
        }
      },
      "X-Cache-Control": {
        "description": "Cache control directives",
        "schema": {
          "type": "string",
          "example": "max-age=3600, public"
        }
      },
      "ETag": {
        "description": "Entity tag for caching",
        "schema": {
          "type": "string",
          "example": "\"33a64df551\""
        }
      },
      "Last-Modified": {
        "description": "The last modification date of the resource",
        "schema": {
          "type": "string",
          "format": "date-time",
          "example": "2023-12-01T12:00:00Z"
        }
      },
      "Location": {
        "description": "The URL of the newly created resource",
        "schema": {
          "type": "string",
          "format": "uri",
          "example": "https://bakery.scalar.com/guilds/123"
        }
      },
      "X-Processing-Time": {
        "description": "The time taken to process the request in milliseconds",
        "schema": {
          "type": "integer",
          "example": 150
        }
      }
    },
    "responses": {
      "ImageUploaded": {
        "description": "Image uploaded",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          },
          "X-Cache-Control": {
            "$ref": "#/components/headers/X-Cache-Control"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ImageUploadedMessage"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BadRequestError"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ForbiddenError"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NotFoundError"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UnauthorizedError"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Conflict"
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "Unprocessable Entity",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UnprocessableEntity"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          },
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          },
          "Retry-After": {
            "description": "The number of seconds to wait before retrying",
            "schema": {
              "type": "integer",
              "example": 60
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TooManyRequestsError"
            }
          }
        }
      }
    },
    "schemas": {
      "User": {
        "description": "A user",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "readOnly": true,
            "examples": [
              "f2a0cf3d-7ad5-44b2-8a37-3b8f63d34a1e"
            ]
          },
          "name": {
            "type": "string",
            "examples": [
              "Marc",
              "Cam",
              "Hans",
              "Delia",
              "Nora"
            ]
          },
          "email": {
            "type": "string",
            "format": "email",
            "examples": [
              "marc@scalar.com",
              "cam@scalar.com",
              "hans@scalar.com",
              "delia@bakery.dev"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "examples": [
              "2024-01-03T10:12:00Z"
            ]
          },
          "favoriteBread": {
            "type": "string",
            "examples": [
              "sourdough",
              "brioche",
              "rye"
            ]
          }
        }
      },
      "Credentials": {
        "description": "Credentials to authenticate a user",
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "examples": [
              "marc@scalar.com",
              "cam@scalar.com",
              "hans@scalar.com"
            ]
          },
          "password": {
            "type": "string",
            "writeOnly": true,
            "examples": [
              "i-love-scalar",
              "i-love-oss",
              "qwerty123"
            ]
          }
        }
      },
      "Token": {
        "description": "A token to authenticate a user",
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "examples": [
              "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
            ]
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "examples": [
              "2024-02-01T10:00:00Z"
            ]
          }
        }
      },
      "Guild": {
        "description": "A bakery guild",
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "readOnly": true,
            "examples": [
              "d252f9a6-5a2e-4b22-8e7b-b1f3f1c3a41d"
            ],
            "x-variable": "guildId"
          },
          "name": {
            "type": "string",
            "examples": [
              "Crust Keepers",
              "The Rolling Pins",
              "Sourdough Syndicate"
            ]
          },
          "slug": {
            "type": "string",
            "examples": [
              "crust-keepers"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "paused",
              "archived"
            ],
            "examples": [
              "active"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "A guild focused on artisan breads and old-world techniques."
            ]
          },
          "memberCount": {
            "type": "integer",
            "examples": [
              42,
              120
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "examples": [
              "2023-08-01T12:00:00Z"
            ]
          },
          "bakeries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Bakery"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "examples": [
              [
                "artisan",
                "sourdough",
                "east-coast"
              ]
            ]
          }
        }
      },
      "Bakery": {
        "description": "A bakery location owned by a guild",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "readOnly": true,
            "examples": [
              "1c4a6c21-4528-4f4b-a2a8-d3ea5f6a0a18"
            ]
          },
          "guildId": {
            "type": "string",
            "format": "uuid",
            "examples": [
              "d252f9a6-5a2e-4b22-8e7b-b1f3f1c3a41d"
            ]
          },
          "name": {
            "type": "string",
            "examples": [
              "Downtown Oven",
              "Harbor Bakery"
            ]
          },
          "address": {
            "type": "object",
            "properties": {
              "line1": {
                "type": "string",
                "examples": [
                  "12 Market St"
                ]
              },
              "city": {
                "type": "string",
                "examples": [
                  "Flourtown"
                ]
              },
              "region": {
                "type": "string",
                "examples": [
                  "CA"
                ]
              },
              "postalCode": {
                "type": "string",
                "examples": [
                  "94103"
                ]
              }
            }
          },
          "openedAt": {
            "type": "string",
            "format": "date-time",
            "examples": [
              "2021-05-12T09:00:00Z"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "closed",
              "seasonal"
            ],
            "examples": [
              "open"
            ]
          }
        }
      },
      "Member": {
        "description": "A guild member",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "readOnly": true,
            "examples": [
              "3b6b3a2a-1de6-4d60-9b93-9232b4a482f7"
            ]
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "guildId": {
            "type": "string",
            "format": "uuid",
            "examples": [
              "d252f9a6-5a2e-4b22-8e7b-b1f3f1c3a41d"
            ]
          },
          "roleIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "joinedAt": {
            "type": "string",
            "format": "date-time",
            "examples": [
              "2022-09-18T08:30:00Z"
            ]
          }
        }
      },
      "Invite": {
        "description": "An invite to join a guild",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "examples": [
              "CROISSANT-8H5G",
              "BAGEL-2K9Z"
            ]
          },
          "guildId": {
            "type": "string",
            "format": "uuid",
            "examples": [
              "d252f9a6-5a2e-4b22-8e7b-b1f3f1c3a41d"
            ]
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "examples": [
              "2024-07-01T12:00:00Z"
            ]
          }
        }
      },
      "Role": {
        "description": "A guild role",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "readOnly": true,
            "examples": [
              "a4b34f0a-39f2-4b5f-9a90-2f1ab84a30c0"
            ]
          },
          "guildId": {
            "type": "string",
            "format": "uuid",
            "examples": [
              "d252f9a6-5a2e-4b22-8e7b-b1f3f1c3a41d"
            ]
          },
          "name": {
            "type": "string",
            "examples": [
              "Head Baker",
              "Decorator",
              "Trainer"
            ]
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "examples": [
              [
                "guild:read",
                "guild:write",
                "recipe:publish"
              ]
            ]
          }
        }
      },
      "Recipe": {
        "description": "A bakery recipe",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "readOnly": true,
            "examples": [
              "80a3d0aa-9f6f-4e2a-a51c-61a63e8f5cb5"
            ]
          },
          "guildId": {
            "type": "string",
            "format": "uuid",
            "examples": [
              "d252f9a6-5a2e-4b22-8e7b-b1f3f1c3a41d"
            ]
          },
          "name": {
            "type": "string",
            "examples": [
              "Classic Sourdough",
              "Chocolate Babka"
            ]
          },
          "yield": {
            "type": "string",
            "examples": [
              "2 loaves",
              "24 rolls"
            ]
          },
          "ingredients": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "amount": {
                  "type": "number",
                  "format": "float"
                },
                "unit": {
                  "type": "string"
                }
              }
            },
            "examples": [
              [
                {
                  "name": "bread flour",
                  "amount": 500,
                  "unit": "g"
                },
                {
                  "name": "water",
                  "amount": 350,
                  "unit": "g"
                },
                {
                  "name": "starter",
                  "amount": 100,
                  "unit": "g"
                }
              ]
            ]
          },
          "steps": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "examples": [
              [
                "Mix all ingredients until shaggy.",
                "Rest for 30 minutes.",
                "Stretch and fold every 30 minutes for 2 hours.",
                "Proof overnight in the fridge."
              ]
            ]
          },
          "lastUpdated": {
            "type": "string",
            "format": "date-time",
            "examples": [
              "2024-01-15T14:30:00Z"
            ]
          }
        }
      },
      "PaginatedResource": {
        "description": "A paginated resource",
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "integer",
                "format": "int64",
                "examples": [
                  10
                ]
              },
              "offset": {
                "type": "integer",
                "format": "int64",
                "examples": [
                  0
                ]
              },
              "total": {
                "type": "integer",
                "format": "int64",
                "examples": [
                  100
                ]
              },
              "next": {
                "type": [
                  "string",
                  "null"
                ],
                "examples": [
                  "/guilds?limit=10&offset=10"
                ]
              }
            }
          }
        }
      },
      "ImageUploadedMessage": {
        "x-scalar-ignore": true,
        "description": "Message about an image upload",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "examples": [
              "Image uploaded successfully"
            ]
          },
          "imageUrl": {
            "type": "string",
            "description": "The URL where the uploaded image can be accessed",
            "examples": [
              "https://cdn.scalar.com/images/8f47c132-9d1f-4f83-b5a4-91db5ee757ab.jpg"
            ]
          },
          "uploadedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the image was uploaded",
            "examples": [
              "2024-01-15T14:30:00Z"
            ]
          },
          "fileSize": {
            "type": "integer",
            "description": "Size of the uploaded image in bytes",
            "examples": [
              1048576
            ]
          },
          "mimeType": {
            "type": "string",
            "description": "The content type of the uploaded image",
            "examples": [
              "image/jpeg",
              "image/png"
            ]
          }
        }
      },
      "BadRequestError": {
        "x-scalar-ignore": true,
        "description": "RFC 7807 (https://datatracker.ietf.org/doc/html/rfc7807)",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "examples": [
              "https://example.com/errors/bad-request"
            ]
          },
          "title": {
            "type": "string",
            "examples": [
              "Bad Request"
            ]
          },
          "status": {
            "type": "integer",
            "format": "int64",
            "examples": [
              400
            ]
          },
          "detail": {
            "type": "string",
            "examples": [
              "The request was invalid."
            ]
          }
        }
      },
      "ForbiddenError": {
        "x-scalar-ignore": true,
        "description": "Error response for forbidden access (RFC 7807).",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "examples": [
              "https://example.com/errors/forbidden"
            ]
          },
          "title": {
            "type": "string",
            "examples": [
              "Forbidden"
            ]
          },
          "status": {
            "type": "integer",
            "format": "int64",
            "examples": [
              403
            ]
          },
          "detail": {
            "type": "string",
            "examples": [
              "You are not authorized to access this resource."
            ]
          }
        }
      },
      "NotFoundError": {
        "x-scalar-ignore": true,
        "description": "Error response for resource not found (RFC 7807).",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "examples": [
              "https://example.com/errors/not-found"
            ]
          },
          "title": {
            "type": "string",
            "examples": [
              "Not Found"
            ]
          },
          "status": {
            "type": "integer",
            "format": "int64",
            "examples": [
              404
            ]
          },
          "detail": {
            "type": "string",
            "examples": [
              "The resource you are trying to access does not exist."
            ]
          }
        }
      },
      "UnauthorizedError": {
        "x-scalar-ignore": true,
        "description": "Error response for unauthorized access (RFC 7807).",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "examples": [
              "https://example.com/errors/not-found"
            ]
          },
          "title": {
            "type": "string",
            "examples": [
              "Unauthorized"
            ]
          },
          "status": {
            "type": "integer",
            "format": "int64",
            "examples": [
              401
            ]
          },
          "detail": {
            "type": "string",
            "examples": [
              "You are not authorized to access this resource."
            ]
          }
        }
      },
      "Conflict": {
        "x-scalar-ignore": true,
        "description": "Error response for resource conflicts (RFC 7807).",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "examples": [
              "https://example.com/errors/conflict"
            ]
          },
          "title": {
            "type": "string",
            "examples": [
              "Conflict"
            ]
          },
          "status": {
            "type": "integer",
            "format": "int64",
            "examples": [
              409
            ]
          },
          "detail": {
            "type": "string",
            "examples": [
              "The resource you are trying to access is in conflict."
            ]
          }
        }
      },
      "UnprocessableEntity": {
        "x-scalar-ignore": true,
        "description": "Error response for unprocessable entity (RFC 7807).",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "examples": [
              "https://example.com/errors/unprocessable-entity"
            ]
          },
          "title": {
            "type": "string",
            "examples": [
              "Unprocessable Entity"
            ]
          },
          "status": {
            "type": "integer",
            "format": "int64",
            "examples": [
              422
            ]
          },
          "detail": {
            "type": "string",
            "examples": [
              "The request was invalid."
            ]
          }
        }
      },
      "TooManyRequestsError": {
        "x-scalar-ignore": true,
        "description": "Error response for rate limiting (RFC 7807).",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "examples": [
              "https://example.com/errors/too-many-requests"
            ]
          },
          "title": {
            "type": "string",
            "examples": [
              "Too Many Requests"
            ]
          },
          "status": {
            "type": "integer",
            "format": "int64",
            "examples": [
              429
            ]
          },
          "detail": {
            "type": "string",
            "examples": [
              "Rate limit exceeded. Please try again later."
            ]
          }
        }
      }
    }
  }
}